.main-title {
  color: #CC6666;
  margin: 50px;
}

.main-wrapper {
  min-height: 450px;
  width: 700px;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 0px 5px 33px 8px rgba(34, 60, 80, 0.29);
}

.task-search-field {
  display: flex;
  border-bottom: 1px solid #000;
}


.tasks-input {
  width: 100%;
  padding: 20px 15px;
  font-size: 20px;
  outline: none;
}

.task-input__image {
  max-height: 40px;
  align-self: center;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.15);
    transition: 0.2s;
  }
}

.custom-checkbox {
  width: 30px;
  height: 30px;
  outline: 1px solid #000;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }
  &:before{
    content: "";
    display: block;
    position: relative;
    left: 8px;
    top: 12px;
    width: 3px;
    height: 12px;
    border-radius: 10px;
    background-color: #006600;
    transform: rotate(-35deg);
  }
  &:after {
    content: "";
    display: block;
    position: relative;
    left:16px;
    bottom: 7px;
    width: 3px;
    height: 20px;
    border-radius: 10px;
    background-color: #006600;
    transform: rotate(35deg);
  }
}

.custom-checkbox--checked {
  @extend .custom-checkbox;
  &:before {
    visibility: hidden;
  }
  &:after {
    visibility: hidden;
  }
}

.tasks-menu {
  display: flex;
  justify-content: space-between;
}

.tasks-list {
  height: 350px;
  overflow-y: auto;
}

.tasks-list-elem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 20px 15px;
}

.tasks-list-elem--completed {
  @extend .tasks-list-elem;
  text-decoration: line-through;
}

.tasks-list-elem__item {
  margin-left: 20px;
  font-size: 22px;
}

.tasks-menu {
  border-top: 1px solid #000;
  padding: 15px;
}

.tasks-menu__route {
  padding: 0 10px;
}

.tasks-menu__route--active {
  @extend .tasks-menu__route;
  outline: 1px solid #000
}

.tasks-menu-reset__button {
  width: 70px;
  height: 25px;
}