@import './Components/Wrapper/wrapper.scss';

* { 
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
}

img  {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

.main {
  margin-top: 100px;
  text-align: center;
}

